

.form_heading{
    background-color: rgb(39, 39, 206);
    color: white;
    border-radius: 5px;
    margin-bottom: 20px;
}

.row_size{
    /* border: 1px solid grey; */
    /* border-radius: 5px;
    padding-bottom: 20px; */
}