.table_border{
    border: 1px solid black;
}

.save_btn{
    width: 13%;
    margin: 10px auto 10px auto;
    text-align: center;
}

.print_download_btn_div{
    display: flex;
    justify-content: space-between;
}